
nav, footer { 
    width: 100vw;
    }
    
body { 
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 2rem 4rem;
}
 
#receta { 
    font-size: 0.9rem;
}

h3 {
    padding-bottom: 2rem;
}

hr {
    background-color: black;
    height: 50px;
}

#newsletter {
padding: 7rem;
}

.carousel-indicators { 
    bottom: 50px;
}

